# KWin Script Swap Left Right
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Swap Left and Right
Name[de]=Rechts und links tauschen
Name[nl]=Verwissel links en rechts
Comment=Swap the windows tiled to the left and right halves of the screen
Comment[de]=Tauscht die an den linken und rechten Bildschirmhälften angehefteten Fenster 
Comment[nl]=Verwissel de links en rechts getegelde vensters van plaats
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-Name=swapleftright
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=swapleftright
X-KDE-ParentComponents=swapleftright
