# KWin Script Always Open on Focused Screen
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Always Open on Focused Screen
Name[de]=Immer auf fokussiertem Bildschirm öffnen
Name[nl]=Altijd openen op gefocust scherm
Comment=Always opens new windows on the monitor that has the focused window
Comment[de]=Öffnet neue Fenster immer auf dem Bildschirm mit dem fokussierten Fenster
Comment[nl]=Open nieuwe vensters altijd op het scherm met een gefocust venster
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=alwaysopenonfocusedscreen
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1618008/

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Script,KCModule
X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=alwaysopenonfocusedscreen
X-KDE-ParentComponents=alwaysopenonfocusedscreen
