# KWin Script Always Open on Active Screen
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Always Open on Active Screen
Name[de]=Immer auf aktivem Bildschirm öffnen
Name[nl]=Altijd openen op actief scherm
Comment=Always opens new windows on the monitor that has the mouse cursor
Comment[de]=Öffnet neue Fenster immer auf dem Monitor mit dem Mauszeiger
Comment[nl]=Opent nieuwe vensters altijd op het scherm met de cursor]
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=alwaysopenonactivescreen
X-KDE-PluginInfo-Version=2.3
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=alwaysopenonactivescreen
X-KDE-ParentComponents=alwaysopenonactivescreen
