# KWin Script Step Move
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Step Move
Name[de]=Schrittweise verschieben
Name[nl]=Stapsgewijs verplaatsen
Comment=Move (left/right/top/bottom/center) the active window one step
Comment[de]=Verschiebt (nach links/rechts/oben/unten/mitte) das aktive Fenster einen Schritt
Comment[nl]=Verplaats het actieve venster één stap opzij (links/rechts/boven/onder/midden)
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=stepmove
X-KDE-PluginInfo-Version=2.3
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=stepmove
X-KDE-ParentComponents=stepmove

