# KWin Script Step Re-Grid
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Step Re-Grid
Name[de]=Schrittweise Raster verschieben
Name[nl]=Stapsgewijze roosterverplaatsing
Comment=Shift the window grid (resize towards left/right/top/bottom/center) in one step
Comment[de]=Verschiebt (nach links/rechts/oben/unten/mitte) das Fenterraster einen Schritt
Comment[nl]=Verplaats het vensterrooster één stap (naar link/rechts/boven/onder/midden)
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=stepregrid
X-KDE-PluginInfo-Version=2.3
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=stepregrid
X-KDE-ParentComponents=stepregrid

